body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

#boxLogin {
    width: 35%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.produtoEncontrado:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    transition: 0.4s;
}